[Desktop Entry]
Type=Application
Name=Обновлятор 1С Linux
Exec=/usr/local/bin/updater1c-linux
Icon=updater1c-linux
Terminal=false
StartupWMClass=updater1c-linux
Categories=Utility;
StartupNotify=true
