[Desktop Entry]
Type=Application
Name=Обновлятор 1С Linux
Comment=Обновление платформы и конфигураций 1С на Linux
Exec=/opt/updater1c-linux/bin/updater1c-gui
Icon=/opt/updater1c-linux/icons/updater1c.png
Terminal=false
Categories=Utility;Development;
StartupNotify=true
StartupWMClass=updater1c-linux
